body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
  padding: 10px;
  background: aliceblue;
  border-bottom: 1px solid silver;
}

.nav-content a{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 25px;
}

.nav-content a:hover{
  color: #72777e;
}

.nav-content .active{
  color: #4a494d;
}

.content{
  padding: 20px;
}

.error{
  color: red;
  margin-bottom: 10px;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.space-btn{
  margin: 20px;
}

.inner-home{
  width: 650px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.task-txt{
  font-size: 23px;

}

.space-btn-task{
  margin: 30px;

}